.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--blue-primary);
    border-radius: var(--border-radius);
    width: fit-content;
    transition: 0.5s;
}

.button-group-disabled, .button-group-disabled * {
    opacity: 0.5;
    cursor: not-allowed !important;
    background-color: unset !important;
    color: var(--text-gray) !important;
}

.button-group-disabled:hover * {
    background-color: unset;
    color: var(--text-gray);
}

.button-group-option {
    padding: 10px;
    border-right: 2px solid var(--blue-primary);
    user-select: none;
    font-weight: 600;
    color: var(--text-gray);
    transition: 0.5s;
}

.button-group-option:hover {
    cursor: pointer;
    background-color: var(--bg-blue);
    color: var(--text);
}

.button-group-option-selected {
    background-color: var(--bg-blue) !important;
    color: var(--text) !important;
    cursor: not-allowed;
}