@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,500&display=swap');

:root {
  --bg-primary: #262525;
  --bg-secondary: #383636;
  --blue-primary: #26e4eb;
  --bg-secondary: #5ce8ed;
  --text: #fff;
}

html, body {
    height: 100%;
}

body {
  background-color: var(--bg-primary);
  color: var(--text);
  font-family: 'Ubuntu', sans-serif;
}