@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --bg-primary: #262525;
  --bg-secondary: #383636;
  --bg-tertiary: #2d2b2b;
  --bg-blue: rgba(38, 228, 235, 0.3);
  --blue-primary: #26e4eb;
  --green-primary: #26e052;
  --red-primary: #f02449;
  --text: #fff;
  --text-gray: gray;
  --card-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  --border-radius: 10px;
}

html, body {
    height: 100%;
}

body {
  background-color: var(--bg-primary);
  color: var(--text);
  font-family: 'Ubuntu', sans-serif;
}

h2 {
    margin: 10px 0;
    font-size: 22px;
    font-weight: 500;
}

button {
    color: var(--text);
    outline: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    user-select: none;
}

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

button[disabled]:hover {
    background-color: unset;
}

.hidden {
    display: none;
}